<h1>Help Page</h1>

<h2>Browse Screen (Accessible from Main Menu Page)</h2>


<p>Currently this page provides some directions for using the Browse page. The browse page allows a user to
	preview already created reports and create additional reports.</p>
<p>At the very top of the browse page is a table showing the current user, report group, and the currently selected
	report and report group.</p>
<p>Just below this table are a row of buttons for overall operation of reports. They are described below.</p>

<h3>Running Reports</h3>
<ul><b>Report buttons:</b>
	<li>Display Report - once a report is opened or create clicking this button will cause the report to display.</li>
	<li>Set Report Group - this button allows you to select an existing report group from which you can select 
		(open) existing reports.</li>
	<li>Open Report - this button will show a list of all reports from the current report group. You can select
		one of these reports to view.</li>
	<li>Save Report - as you develop a report, or make changes to an existing report, click this button to save
		your changes.</li>
	<li>Save Report as... - click this button to save the existing report under a different report group or
		different name. The original report is unchanged.</li>
	<li>Delete Report - this button will delete the existing reoprt (but only if you are the owner.)</li>
</ul>

<h3>Report Definition Menu</h3>

<ul><b>Summary Buttons:</b>
	<li>Dimension/Fact Matrix - shows the relationships between dimensions and facts. Each column represents
		a fact table and each row shows a dimension table and its relationship, if any, to the corresponding fact.</li>
	<li>All Constraints - constraints are used to select which sets of data to display. Clicking this button will
		show a summary of all currently selected constraints.</li>
	<li>All Report Fields - report fields show the various row and column headers you will be displaying and which
		fact fields will be displayed at the intersection of the rows and columns.</li>
</ul>

<ul><b>Dimension Buttons:</b>
	<li>Date - click this button to display the available fields for the Date dimension.</li>
	<li>Month - click this button to display the available fields for the Month dimension. 
		The Month dimension is a summary of the Date dimension.</li>
	<li>Product - click this button to display the available fields for the Product dimension.</li>
	<li>Sub Category - click this button to display the available fields for the Sub Category dimension. 
		The Sub Category dimension is a summary of the Product dimension.</li>
	<li>Store - click this button to display the available fields for the Store dimension.</li>
	<li>District - click this button to display the available fields for the District dimension. 
		The District dimension is a summary of the Store dimension.</li>
	<li>Promotion - click this button to display the available fields for the Promotion dimension.</li>
	<li>Cashier - click this button to display the available fields for the Cashier dimension.</li>
	<li>Payment Method - click this button to display the available fields for the Payment Method dimension.</li>
	<li>Transaction - click this button to display the available fields for the Transaction dimension.</li>
</ul>

<ul><b>Fact Buttons:</b>
	<li>Sales - click this button to display the available fields for the Sales facts.</li>
	<li>Payments - click this button to display the available fields for the Payments facts.</li>
	<li>Sales Summary - click this button to display the available fields for the Sales Summary facts.</li>
</ul>

<ul><b>Report Fields Buttons:</b>
	<li>Row Header Fields - click this button to display the current selected row headers.</li>
	<li>Column Header Fields - click this button to display the current selected column headers.</li>
	<li>Fact Data Fields - click this button to show the fact fields that will be displayed at the intersection
		of the row and column headers.</li>
</ul>



