body {
  background: #D0D080;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.scf table {
  border:1px solid black;
  border-collapse:collapse; 
  /*background-color: #FFFF66;*/ 
  background-color: #E0E090; 
}

.scf tr {
  background-color: #E0E090;
  border:1px solid #505028; /* #505028 */
  border-collapse:collapse;

  /* border:1px solid black;
  border-collapse:collapse; */
}

.scf td {
  border:1px solid #A0A050; /* #505028 */
  background-color: #E0E090; 
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-collapse:collapse;

  /* border:1px solid black;
  border-collapse:collapse; 
  background-color: #FFFF66;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px; */
}

.scf th {
  background-color: #D0D080;
  border:1px solid #A0A050; /* #505028 */
  border-collapse:collapse;

  /* background-color: orange;
  border:1px solid black;
  border-collapse:collapse; */
}

.scf input {
  background-color: orange;
}

.field input {
  background-color: #E0E090;
}

.actions button {
  background-color: #E0E090;
  color: #E0E090;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  font-size: 20px;
}

#error {
  color: red;
  font-size: 20px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
